streamlit==1.32.0
pandas==2.2.0
numpy==1.26.3
geopandas==0.14.2
folium==0.15.1
streamlit-folium==0.15.1
plotly==5.18.0
python-dotenv==1.0.1
earthengine-api==0.1.386
tensorflow==2.13.0
shapely==2.0.2
fiona==1.9.4
pyproj==3.6.1
rtree==1.0.1
gdal==3.7.2
pillow==10.2.0
requests==2.31.0 